.primaryText{
    font-weight: 700;
    color: black;
    font-size: 32px;
}
.secondaryText{
    font-weight: 500;
    color: rgba(18, 23, 21, 0.5);
    font-size: 16px;
}
.Infocard{
    background: #FFFFFF;
    box-shadow: 0px 4px 60px rgba(15, 34, 63, 0.07);
    border-radius: 12px;
    min-height: 320px;
}