body {
  font-family: 'Montserrat';
}
.no-margin-pading{
  margin:0px !important;
  padding: 0px !important;
}
.margin130-top{
  margin-top: 130px !important;
}
.margin130-bottom{
  margin-bottom: 130px !important;
}

.margin70-top{
  margin-top: 70px !important;
}
.margin70-bottom{
  margin-bottom: 70px !important;
}

.bodyImg{
  height: 100% !important;
  width: 100% !important;
  position: relative !important;
  left: -50px !important;
}
.headerOverviewImg{
  height: 100% !important;
  width: 100% !important;
}


/* Small screen */
@media only screen and (max-width: 768px) {
  .d-flex {
     display: flex!important;
     flex-direction: column !important;
     align-items: center !important;
     text-align: center !important;
  }
  .bodyImg,.headerOverviewImg{
    position: relative !important;
    left: -11% !important;
    height: 100% !important;
    width: 100% !important;
  }
  .col-reverse{
    flex-direction: column-reverse !important;
  }
  .Infocard{
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 40px !important;
  }
}

/* Medium screen */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .d-flex {
    display: flex!important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
  }
  .col-reverse{
    flex-direction: column-reverse !important;
  }
  .bodyImg{
    height: 100% !important;
    width: 100% !important;
    position: relative !important;
    left: -8% !important;
    max-height: 740px !important;
    max-width: 459px !important;
  }
  .headerOverviewImg{
    height: 100% !important;
    width: 100% !important;
    position: relative !important;
    left: -8% !important;
    max-height: 580px !important;
    max-width: 523px !important;
  }
  .Infocard{
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 40px !important;
  }
}